nav {
    border: none;
    font-size: .85rem;
    font-weight: $normalWeight;
    padding: .5rem 1.2rem;
    //Transition
    transition: background 0.5s linear;
}
ul li a:hover {
    background-color: $sColor;
}




#joinSection {
    flex-direction: row;
    justify-content: space-evenly;

    div {
        max-width: 33%;

    }

}

#events {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.5rem;
    margin: 0 $gutter;

    section.eventCard {
        flex: 0 0 48%;
    }

}

#contestCard,
#nfspsPage, #infoCard, #byLawsCard {
    max-width: 70%;

}
.companyMission {
    img {
        max-width: 150px;
        width: 100%;
        height: auto;
    }
}

#sorry {
    font-size: 1.2rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center; // Centers the divs horizontally

    div {
        display: flex;
        justify-content: flex-start; // Aligns content to left (not center)
        align-items: center;
        width: 500px; // Fixed width keeps icons aligned
        // Or use: max-width: 500px; to be more responsive

        img {
            width: 30px;
            min-width: 30px; // Ensures icons don't shrink
            margin-right: 1rem;
        }

        a {
            text-align: left; // Keeps text left-aligned
        }
    }
}