/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// end all elements


header {
    display: grid;
    grid-template-columns: auto 44px;
    column-gap: $gutter;
    align-items: center; //vertically
}
/* --------------------------- NAVIGATION HERE --------------------------- */
#hamburgerBtn {
  position: relative;
  height: 44px;
  width: 44px;
  cursor: pointer;

}
.top,
.bottom {
  position: absolute;
  height: 2px;
  width: 50%;
  left: 25%;
  background-color: $pColor;
  transition: all 0.4s ease;
}
.top {
  top: 33%;
}
.bottom {
  top: 62%;
} //End of Hamburger

#hamburgerBtn.open {
  .top {
    transform: rotate(45deg);
    top: 48%;
    width: 60%;
    left: 20%;
  }
  .bottom {
    transform: rotate(-45deg);
    top: 48%;
    width: 60%;
    left: 20%;
  }
} //End of Open Class (Navigationn)

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  font-size: 1.2rem;
}
nav ul.active {
  display: block;
}
li a {
  color: $pColor;
  display: block;
  padding: 0.75rem $gutter;
  text-decoration: none;
}
li.active a {
  color: white;
  background-color: $pColor;
}
li.hover a {
    background-color: $sColor;
}
/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $normalWeight;
    margin: 0;
    padding: 0;
}

/* --------------------------- HEADER --------------------------- */
header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    grid-template-rows: auto auto;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    background-color: white;
    color: $pColor;
}

#navWrapper {
    grid-column: 1 / -1;
    grid-row: 2;
}

/* --------------------------- HERO IMAGE --------------------------- */
section.hero img {
    width: 100%;
    height: auto;
}


/* --------------------------- BODY --------------------------- */

/* Intro Section */
.intro {
    text-align: center;

    h2 {
        font-weight: 500;
        font-size: 1.5rem;
    }

    .introP {
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
        font-size: 1.1rem;
    }
}

.alive,
.join {
    text-align: center;
    padding: 1rem 0;
    font-weight: 400;
    background-color: $tColor;
}

/* Join Section */
#joinSection {
    display: flex;
    flex-direction: column;
    gap: $gutter;
    margin: $gutter;

    div {
        background-color: $greyColor;
        color: white;
        text-align: center;
        padding: 2rem;
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }

        img {
            max-width: 60%;
            height: auto;
            align-self: center;
            clip-path: circle(50% at 50% 50%);
        }
        h2 {
            font-size: 1.2rem;
        }
    }
}


/* Event Section */
section.eventCard {
    display: block;
    align-items: center;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem auto;
    background-color: $sColor;
    max-width: 90%;
    text-align: center;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }

    h2 {
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: .5rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
    }

    a {
        color: $pColor;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}


/*Contest Section*/
#contestTitle, #currentInfo {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: $tColor;
    padding: 1rem 0;
}
#contestCard, #nfspsPage, #infoCard, #byLawsCard {
    display: block;
    align-items: center;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem auto;
    background-color: $greyColor;
    color: white;
    max-width: 90%;
    text-align: center;
    a {
        display: block;
        margin: 0.5rem 0;
        border: 2px solid $sColor;
        border-radius: 4px;
        padding: $gutter;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
            cursor: pointer;
            color: $sColor;
            border: 2px solid white;
            background-color: #636363;
        }
    }
}
.companyMission {
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    gap: 1rem;
    align-items: center;
    img {
        width: 35%;
        height: auto;
    }
}

#sorry {
    font-weight: 400;
    text-align: center;
    font-size: 1.5rem;
    background-color: $sColor;
    padding: 1rem 0;
    margin-bottom: 0;
}

/* --------------------------- FOOTER --------------------------- */
footer {
    background-color: $greyColor;
    padding: 2rem;
    margin: 0;
    color: white;
    text-align: center;

    div {
        display: flex; // Keeps icon and text together
        align-items: center; // Aligns them vertically
        justify-content: left;
        padding: 0.5rem 0;

        img {
            flex-shrink: 0; // Prevents icon from shrinking
            width: 30px;
            height: 30px;
            margin-right: 0.5rem;
        }

        a {
            color: $sColor;
            text-decoration: none;
            text-align: left; 

            &:hover {
                cursor: pointer;
                color: $tColor;
            }
        }
    }
}